.devise_wrapper
  text-align: left
.devise_form
  .field
    input[type="email"], input[type="password"]
      width: 100%
  input[type="submit"]
    margin: 2em 0
  #user_remember_me
    margin: 1em 0
    display: inline
  #user_remember_me_label
    margin: 1em 0
    display: inline

.actions, .form_links
  width: 100%
  margin-bottom: 1em
