.portfolio_list 
  margin: -20px auto auto auto
  padding: 1em 1em
  background: $main
  min-height: calc(100vh - 580px)
  a
    margin: .5%
    +media($mobile)
      margin: 2%

.portfolio_row
  .project
    +media($mobile)
      +span-columns(3.85)
      margin: 2%
      min-height: 35em
    +span-columns(12)
    +outer-container
    padding: 2em
    margin: .5%
    min-height: 10em
    height: 100%
    background: white
    border-radius: 2px
    border: none
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
    position: relative
    span.project_title
      font-size: 1.5em
      font-weight: 700
      color: $highlight
      +media($mobile)
        font-size: 1.2em
      a
        text-decoration: none
        color: $highlight
    .fa
      color: $highlight
      padding: 5px
