.resume
  min-height: calc(100vh - 580px)
  margin: -20px auto auto auto
  padding-top: 1em
  padding-bottom: 1em
  background: $main

  .resume-container
    @extend .wrapper
    margin-top: 3em
    padding: 2em
    background: white
    border-radius: 2px
    border: none
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
    li
      display: list-item
    h4
      color: $main 
    .fa
      color: $highlight
      &:first-child
        padding-left: 0
      padding: .2em
    h5
      background-color: $highlight
      width: 100%
      color: white
      padding: .5em
    img
      float: left
      padding: 0 1em 1em 0
    .skills
      +outer-container
      +media($mobile)
        b, strong
          +span-columns(4)
        span
          +span-columns(4)
      +media($tablet)
        b, strong
          +span-columns(8)
        span
          +span-columns(8)
      +media($desktop)
        b, strong
          +span-columns(3)
        span
          +span-columns(8)

.tabbed
  margin-left: 2em
