<div class="resume">
  <div class="resume-container">
    <img src="https://secure.gravatar.com/avatar/8e21b254d7c82fdce3286a21345dd3c4?s=150"></img>
    <p>
    <h4>Jeremy Winterberg</h4>
    Eau Claire, WI<br>
    Email: <a href="mailto:jeremy@jeremydwayne.com">jeremy@jeremydwayne.com</a><br>
    <a href="http://www.github.com/jeremydwayne" target="_blank"><i class="fa fa-2x fa-github"></i></a>&nbsp;<a href="https://www.linkedin.com/in/jeremywinterberg" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>&nbsp;<a href="http://www.twitter.com/jeremydwayne" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>&nbsp;<a href="http://www.instagram.com/jeremydwayne" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>&nbsp;<a href="http://www.twitch.tv/jeremydwayne" target="_blank"><i class="fa fa-2x fa-twitch"></i></a>&nbsp;<a href="http://www.youtube.com/jeremydwayne" target="_blank"><i class="fa fa-2x fa-youtube"></i></a>
    </p>
    <br/>
    <h5>Education</h5>
    <p>Bachelor of Science: University of Wisconsin Eau Claire (Dec 2017) 3.0 Major GPA
      <br /><strong>Major</strong>: Computer Science (Software Engineering)
      <br /><strong>Minor</strong>: Economics</p>
    <h5>Recent Experience</h5>
    <p><b>June 2015–Current:</b> Ruby on Rails Developer, UW Eau Claire, Learning and Technology Services.</p>
    <p>I interact with clients regularly to design and create web applications which solve problems for them. By utilizing an agile development process, I'm able to deliver features and bug fixes quickly and without hindering the client's workflow. I also maintain and continue development on legacy applications while frequently assisting co-workers through pair-programming.</p>
    <p><small>Prior work experience includes various part time, minimum wage, non-programming positions dating back to when I was 15. If you're a potential employer and wish to hear about these, I'd be more than happy to provide the specifics.</small></p>
    <h5>Leadership Experience</h5>
    <p><b>Spring 2016:</b> Acted as the lead developer, of a 34 person team, on a project for our Software Engineering course. We used an agile approach in creating a solution for the geology department. My main responsibilities included developing the infrastructure for the application, managing the git repository, and directing teams in what they needed to work on. Received an A in the class.</p>
    <p><b>2009–2015:</b> Volunteer Lead Sound Engineer, Wesleyan Church, Eau Claire, WI. I made technology purchasing decisions and maintained sound equipment. Regularly performed live sound mixing and recording. Created a manual to streamline the training process of new sound engineers. Managed the scheduling of six volunteers across multiple services throughout each week.</p>
    <h5>Computer Skills</h5>
    <p><b>Languages:</b> C, C++, Java, Ruby, Ruby on Rails, Python, HTML, CSS, Javascript/Jquery, Bash, SQL</p>
    <p><b>Operating Systems:</b> Linux, Windows, macOS</P>
    <p><b>Miscellaneous:</b> Git, Linux Server Management</p>
  </div>
</div>
