<div class="resume">
  <div class="resume-container">
    <img src="http://gravatar.com/avatar/8e21b254d7c82fdce3286a21345dd3c4?s=150"></img>
    <p>
    <h4>Jeremy Winterberg</h4>
    Eau Claire, WI<br>
    Email: <a href="mailto:jeremy@jeremydwayne.com">jeremy@jeremydwayne.com</a><br>
    <a href="http://www.github.com/jeremydwayne" target="_blank"><i class="fa fa-2x fa-github"></i></a>&nbsp;<a href="https://www.linkedin.com/in/jeremywinterberg" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>&nbsp;<a href="http://www.twitter.com/jeremydwayne" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>&nbsp;<a href="http://www.instagram.com/jeremydwayne" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>&nbsp;<a href="http://www.twitch.tv/jeremydwayne" target="_blank"><i class="fa fa-2x fa-twitch"></i></a>&nbsp;<a href="http://www.youtube.com/jeremydwayneirl" target="_blank"><i class="fa fa-2x fa-youtube"></i></a>
    </p>
    <br/>
    <h4>About</h4>
    <p>I'm a computer science major, with an economics minor, at UW-Eau Claire. When not doing projects I work for the university as a rails developer. During my limited free time I usually play pc games and write code for both personal projects and some freelance gigs.</p> 
    <p>I rely on logic and common sense to guide me. Through these I'm able to solve problems effectively. Solving problems is why I love programming. Being presented with a challenge and fighting to overcome it. I guess its sort of a superhero complex.</p>
    <p>While I'm extremely effective and efficient working on my own, I also do well when part of a team. I've learned recently that some problems may require multiple perspectives to conquer, and that everyone brings different skills to the table.</p> 
    <p>If you're a potential employer for after I graduate, or you'd like to hire me for freelance work, the best way to contact me is through <a href="mailto:jeremy@jeremydwayne.com">email</a>. If you just want to say hello you can also hit me up on <a href="http://www.twitter.com/jeremydwayne">twitter</a>.</p>
    <h5>Education</h5>
    <p>Expected B.S. Computer Science - Software Engineering, University of Wisconsin, Eau Claire (2017)</p>
    <h5>Recent Experience</h5>
    <p><b>June 2015–Current:</b> Ruby on Rails Developer, UW Eau Claire, Learning and Technology Services.</p>
    <p>I interact with clients to design and create web applications to meet their needs. I also maintain and continue development on legacy applications. I frequently assist and pair program with co-workers when a problem requires more attention.</p>
    <p><small>Prior work experience includes various part time, minimum wage, non-programming positions dating back to when I was 15. If you're a potential employer and wish to hear about these, I'd be more than happy to provide the specifics.</small></p>
    <h5>Leadership Experience</h5>
    <p><b>Spring 2016:</b> Acted as the lead developer, of a 34 person team, on a project for our Software Engineering course. We used an agile approach in creating a solution for the geology department. My main responsibilities included developing the infrastructure for the application, managing the git repository, and directing teams in what they needed to work on. Received an A in the class.</p>
    <p><b>2009–2015:</b> Volunteer Lead Sound Engineer, Wesleyan Church, Eau Claire, WI.</p>
    <p>Made technology purchasing decisions and maintained sound equipment. Regularly performed live sound mixing and recording. Created a manual to streamline the training process of new sound engineers. Managed the scheduling of six volunteers across multiple services throughout each week.</p>
    <h5>Computer Skills</h5>
    <p><b>Languages:</b> C, C++, Java, Ruby, Ruby on Rails, Python, HTML, CSS, Javascript/Jquery, Bash, SQL</p>
    <p><b>Operating Systems:</b> Linux, Windows, OSX</P>
    <p><b>Miscellaneous:</b> Linux Server Management, Custom Computer Construction</p>
  </div>
</div>
