@import 'variables';
/*
 *= require_tree .
 *= require_self
 */


@import 'pages';
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

@font-face {
  font-family: 'Norwester';    
  src: url('/assets/norwester/norwester.eot');
  src: url('/assets/norwester/norwester.eot?iefix') format('eot'),
  url('/assets/norwester/norwester.woff') format('woff'),
  url('/assets/norwester/norwester.ttf') format('truetype'),
  url('/assets/norwester/norwester.svg#webfont3AwWkQXK') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Droid Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.container {
  margin: 0 auto;
  max-width: 90%;
  width: 1440px;
}

span.logo {
  a {
    font-family: "Norwester";
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    background: none;
    b {
      font-weight: 700;
      font-size: 1.25em;
      color: $secondary;
    }
  }
}

.banner_image {
  position: relative;
  background: image-url('bannerimg.jpg');
  min-height: 500px;
  background-position: center;
  background-size: cover;
}

.navbar {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  position: absolute;
  bottom: 30px;
}

.menu {
  display: none;
}

#main_nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    li {
      float: left;
      margin: 0 .9em;
      font-size: 1.5em;
      a {
        color: white;
        text-decoration: none; 
        background: none;
        padding: 5px;
        display: block;
        &:hover {
          border-bottom: 4px solid $secondary;
        }
        &.active {
          border-bottom: 4px solid $secondary;
        }
      }
    }
  }
}

.row {
  width: 100%;
}

#main_main {
  margin-top: 20px;
  flex: 1 0 auto;
}

#main_footer {
  padding-top: 30px;
  color: white;
  height: 80px;
  background-color: $main;
  #copyright {
    font-size: 1em;
    float: left;
  }
  #footer_links {
    float: right;
    a {
      font-size: 1.75em;
      margin-left: .3em;
      color: $highlight;
      &:hover {
        color: $secondary;
        background: none;
      }
    }
  }
}

input[type="text"], input[type="email"] {
  height: 36px;
  padding: 2px;
  line-height: 36px;
  vertical-align: middle;
  &:focus {
      outline: 2px solid $highlight;
  }
}

input.btn {
  background-color: $highlight;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: .5px;
  line-height: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

a.btn {
  background-color: $highlight;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: .5px;
  line-height: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

@media only screen and (max-width: 900px) {
  #main_nav {
    display: none;
  }
  #main_nav.active {
    display: inline-block;
    float: left;
    a {
      display: block;
      padding: 1em 0;
      border-bottom: 1px solid #E9E9E9;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .menu {
    float: right;
    display: block;
    margin-top: 1.1em;
    i {
      font-size: 1.5rem;
      color: white;
    }
  }
}
